In [2]:
import numpy as np
import pandas as pd
import math
import matplotlib as plt
import seaborn as sn

In [3]:
file = pd.read_csv('tenis.csv')
print(file)

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [4]:
print(file.loc[0:])

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [5]:
filt_array = []
for element in file.play:
  if element == 'yes':
    filt_array.append(True)
  else:
    filt_array.append(False)

In [6]:
new_array = file[filt_array]
print(new_array)
print(new_array['play'].count())

     outlook  temperature  humidity  windy play
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
6   overcast           64        65   True  yes
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
9

In [7]:
filter = []
for element in new_array.outlook:
    if element == 'overcast':
        filter.append(True)
    else:
        filter.append(False)

In [8]:
print(filter)

[True, False, False, True, False, False, False, True, True]

In [9]:
new_array1 = new_array[filter]
print(new_array1)

     outlook  temperature  humidity  windy play
2   overcast           83        86  False  yes
6   overcast           64        65   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes

In [10]:
filter1 = []
for element in new_array.outlook:
    if element == 'rainy':
        filter1.append(True)
    else:
        filter1.append(False)
print(filter1)
new_array2 = new_array[filter1]
print(new_array2)

[False, True, True, False, False, True, False, False, False]
  outlook  temperature  humidity  windy play
3   rainy           70        96  False  yes
4   rainy           68        80  False  yes
9   rainy           75        80  False  yes

In [11]:
file.describe()

       temperature   humidity
count    14.000000  14.000000
mean     73.571429  81.642857
std       6.571667  10.285218
min      64.000000  65.000000
25%      69.250000  71.250000
50%      72.000000  82.500000
75%      78.750000  90.000000
max      85.000000  96.000000

In [48]:
data = {"calories": [120, 124, 236],
        "duration": [1554, 1425, 7569]}
#load data into a DataFrame object:
df = pd.DataFrame(data, index = [1, 2, 3])
print(df)

   calories  duration
1       120      1554
2       124      1425
3       236      7569